.result-container {
  .top-text {
    font-size: 20px;
    margin-bottom: 20px;
  } 
  .result-box-container {
    border: 1px solid #CCC;
    border-radius: 40px;
    padding: 10px 25px;
    font-size: 23px;
    position: relative;
    .icons-container {
      position: absolute;
      right: 25px;
      top: 10px;
      span {
        cursor: pointer;
        &:first-child {
          margin-right: 12px;
        }
        .icon {
          color: #8da2c1;
        }
      }
    }
  }
  .bottom-text {
    margin-top: 20px;
    font-size: 14px;
  }
}